version: '3.8'
services:
  app:
    image: ghcr.io/d4sw4r/blokhouse:latest
    # build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET="dude-its-so-random"
      - DATABASE_URL=file:./prisma/blokhouse.db
    volumes:
      - blokhouse_data:/app/prisma

volumes:
  blokhouse_data:
